<div class="review">

	<div class="review-rating" data-score="<%= review.rating %>"></div>
	<p class="review-comment"><%= review.comment %></p>


	<% if user_signed_in? %>

		<% if review.user_id == current_user.id %>

			<div class="links btn-group">

				<%= link_to "Edit", edit_apt_review_path(review.apt, review), class: "btn btn-custom" %>
				<%= link_to "Delete", apt_review_path(review.apt, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>

			</div>
		
		<% end %>	

	<% end %>

</div>	